{% extends "base.html" %}
{% from "profile/partials/profile_form_actions.html" import form_actions %}

{% block content %}
<div class="pf-page">
  {% if form_error %}
  <div class="notice warning">{{ form_error }}</div>
  {% endif %}

  <form method="post" action="/profile/{{ profile.id }}/edit" class="pf-form" data-pf-form>
    {% include "profile/partials/profile_form_nav.html" %}
    {% include "profile/partials/profile_form_fields.html" %}
    {{ form_actions("Сохранить изменения") }}
  </form>
</div>
{% endblock %}
