{% include "jobs/partials/profile_context.html" %}

{% with mode_value = search_mode_prefill, mode_oob = true %}
  {% include "jobs/partials/search_mode_control.html" %}
{% endwith %}

<input
  id="jobs-query"
  name="query"
  type="text"
  value="{{ query_prefill }}"
  placeholder="Например: lager, produktion, verpacker"
  required
  hx-swap-oob="true"
/>

<input
  id="jobs-location"
  name="location"
  type="text"
  value="{{ location_prefill }}"
  placeholder="Например: Berlin, Росток, München"
  hx-swap-oob="true"
/>
